<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}" lang="hr">
<head>
    <meta charset="UTF-8">
    <title>Prikaz svih kategorija</title>
</head>
<body layout:fragment="content">
    <div class="row">
        <div class="col d-flex justify-content-between align-items-center">
            <h1>Sve kategorije</h1>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addCategory">Dodaj kategoriju</button>
        </div>
    </div>
    <table class="table table-striped table-bordered">
        <tr>
            <td>ID</td>
            <td>Naziv</td>
            <td>Akcije</td>
        </tr>
        <tr th:each="category: ${categories}">
            <td th:text="${category.getId()}"></td>
            <td th:text="${category.getName()}"></td>
            <td>
                <a class="btn btn-xsmall btn-danger" th:href="@{/category/delete/{id}(id=${category.getId()})}">Pobriši</a>
                <a class="btn btn-xsmall btn-secondary" th:href="@{/category/edit/{id}(id=${category.getId()})}">Uredi</a>
            </td>
        </tr>
    </table>


    <div class="modal fade" th:classappend="${added ? 'show' : ''}" th:style="${added ? 'display:block': '' }" id="addCategory">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Nova kategorija</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form th:object="${category}" th:action="@{/category/add}" method="POST">
                    <div class="modal-body">
                        <label class="col-form-label">Unesite naziv kategorije:</label>
                        <input class="form-control" th:classappend="${#fields.hasErrors('name') ? 'is-invalid' : ''}" type="text" th:field="*{name}">
                        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="invalid-feedback"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zatvori</button>
                        <button type="submit" class="btn btn-primary">Dodaj</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal-backdrop fade show" th:style="${added ? 'display:block': 'display:none' }"></div>

</body>
</html>